{% extends "base.html" %}
{% load static %}
{% load extra_article %}

{% block title %} DGT | {{ article.title }} {% endblock %}

{% block css %}
    <link href="{% static 'article/css/article.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="left_column">
        <h1>{{ article.title }}</h1>
        <h2>{{ article.subtitle }}</h2>

        <div class="meta">
            Par 
            {% for author in article.authors.all %}
                <a href="{% url 'authorProfile:list' %}">{{ author.firstname }} {{ author.lastname }}</a>
            {% endfor %}
             | le {{ article.pub_date }} | 
            {% for tag in article.tags.all %}
                {{ tag.tag }}
            {% endfor %}
        </div>

        <div id="article_slug">
            <p>{{ article.slug }}</p>
        </div>

        <div id="article_content">
                {{ article.contents | markdownify | safe }}
        </div>

        <div id="article_comments">
        </div>

    </div>

{% endblock %}
