{% load static %}

<head>	
	
	<!--Page Title-->		
    <title>DGT | {{ article.title }}</title>

	<!--Referencement-->
	<meta name="robots" content="all" />
    <meta name="authors" content="{{ article.authors }}" />
	<meta name="keywords" content="DiceGameTech, game-design, game design, tutoriaux, cours, création, conception, jeu-video, jeu, jeux-videos, jeux, video, level design, blog" />
    <meta name="description" content="{{ article.contents }}" />
	<meta http-equiv="content-type"  content="text/html; charset=UTF-8" />
				
    <link href="{% static ../../static/css/article.css %}" rel="stylesheet" type="text/css" />
		
</head>	

<body>
	<div id="main">

		<div id="banner">
			<div class="centered">
					
				<img src="{% static img/banner %}"  alt="DiceGameTech" usemap="#logomap" />
					
				<map name="logomap"><area shape="rect" coords="0,0,400,100" alt="DiceGameTech" href="/" /></map>
				
            </div>
        </div>

        <div id="content">
            <div id="left_column">
                <h1>{{ article.title }}</h1>
                <h2>{{ article.subtitle }}</h2>

                <div class="meta">
                    Par <a href="/article/auteurs">{{ article.authors }}</a> | le {{ article.pub_date }}	
                </div>

                <div id="article_slug">
                    <p>{{ article.slug }}</p>
                </div>

                <div id="article_content">
                    <p>{{ article.contents }}</p>
                </div>

                <div id="article_comments">
                    <h1>Ajouter un commentaire</h1>
                </div>

            </div>

            <div id="right_column"> 
                <h2>Archives</h2>
                <div id="archives">
                    <ul>
                        {% for article in article_list %}
                        <li><a href="{% url article:authors %}">{{ article.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">

        <div class="content">
            <div class="column">
                <b>A propos de DGT</b>
                <ul>
                    <li><a href="{% url article:list %}">Index des articles</a></li>
                    <li><a href="{% url authors:list %}">Auteurs réguliers</a></li>
                    <li><a href="{% url dicegametech:use %}">Conditions d'utilisation</a></li>
                </ul>
            </div>
            <div class="column">
                <b>Contact</b>
            </div>
        </div>

    </div>
</body>
