{% extends "base.html" %}
{% load static %}

{% block title %} DGT | Liste des articles{% endblock %}

{% block css %}
    <link href="{% static 'article/css/article_list.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}	

{% block content %}

<div id="left_column">
    <h1>Liste des articles publiés</h1>
    <div id="article_list">
        <ul>
            {% for article in article_list %}
            <li><a href="{% url 'article:detail' article.title %}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div id="right_column"> 
   
</div>

{% endblock %}
