{% load static %}

<head>	
	
	<!--Page Title-->		
    <title>{% block title %}DGT | {% endblock %}</title>

	<!--Referencement-->
	<meta name="robots" content="all" />
	<meta name="keywords" content="DiceGameTech, game-design, game design, tutoriaux, cours, création, conception, jeu-video, jeu, jeux-videos, jeux, video, level design, blog" />
    {% block referencement %}
    <meta name="description" content="" />
    {% endblock %}
	<meta http-equiv="content-type"  content="text/html; charset=UTF-8" />

    <!-- css-->
    <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock %}
		
</head>	

<body>
	<div id="main">

		<div id="banner">
					
				<img src="{% static 'img/banner.png' %}"  alt="DiceGameTech" usemap="#logomap" />
					
                <map name="logomap"><area shape="rect" coords="0,0,400,100" alt="DiceGameTech" href="/" /></map>
				
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

    </div>

    <div id="footer">

        <div class="content">
            <div class="column">
                <b>A propos de DGT</b>
                <ul>
                    <li><a href="{% url 'article:list' %}">Index des articles</a></li>
                    <li><a href="{% url 'authorProfile:list' %}">Auteurs réguliers</a></li>
                    <li><a href="{% url 'article:use' %}">Conditions d'utilisation</a></li>
                </ul>
            </div>
            <div class="column">
                <b>Contact</b>
            </div>
        </div>

    </div>
</body>
