{% load pages_extras %}
{% load static %}

<nav class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="{% static 'img/de.jpg' %}" width="50px" height="40px" /></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="menu" class="nav navbar-nav">
                        <li class="navbar-item {% navactive request 'pages:index' %}">
                            <a href="/">Accueil</a>
                        </li>

                        <li class="navbar-item {% navactiveWord request 'game-design' %}">
                            <a href="{% url 'article:categoryList' category='game-design' %}">Game Design</a>
                        </li>

                        <li class="navbar-item {% navactiveWord request 'developpement' %}">
                            <a href="{% url 'article:categoryList' category='developpement'  %}">Développement</a>
                        </li>

                        <li class="navbar-item {% navactiveWord request 'musique' %}">
                            <a href="{% url 'article:categoryList' category='musique' %}">Musique</a>
                        </li>

                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departments <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Departments</a>
                                </li>
                                <li><a href="#">Add New</a></li>
                            </ul>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</nav>
