{% load pages_extras %}

<nav class="navbar navbar-default navbar-fixed-top" id="topbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="navbar-item"> <a class="{% navactive request 'pages:index' %}"
                                        href="/">Accueil</a>
            </li>

            <li class="navbar-item"><a class="{% navactive request 'article:list' %}"
                                       href="{% url 'article:list' %}">Game Design</a>
            </li>

            <li class="navbar-item"><a class="{% navactive request 'article:list' %}"
                                       href="{% url 'article:list' %}">Développement</a>
            </li>

            <li class="navbar-item"><a class="{% navactive request 'article:list' %}"
                                       href="{% url 'article:list' %}">Musique</a>
            </li>

            <li class="navbar-item"><a class="{% navactive request 'article:list' %}"
                                       href="{% url 'article:list' %}">Archives</a> 
            </li>
        </ul>
    </div>
</nav>
