{% load pages_extras %}

<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" id="topbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="navbar-item {% navactive request 'pages:index' %}">
                <a href="/">Accueil</a>
            </li>

            <li class="navbar-item {% navactive request 'article:GameDesign' %}">
                <a href="{% url 'article:GameDesign' %}">Game Design</a>
            </li>

            <li class="navbar-item {% navactive request 'article:Developpement' %}">
                <a href="{% url 'article:Developpement' %}">Développement</a>
            </li>

            <li class="navbar-item {% navactive request 'article:Musique' %}">
                <a href="{% url 'article:Musique' %}">Musique</a>
            </li>

            <li class="navbar-item {% navactive request 'article:Archives' %}">
                <a href="{% url 'article:Archives' %}">Archives</a> 
            </li>
        </ul>
    </div>
</nav>


