{% extends "base.html" %}
{% load static %}

{% block title %} DGT | Liste des auteurs{% endblock %}

{% block referencement %}
    <meta name="description" content="Liste des auteurs réguliers de DGT" />
{% endblock %}	

{% block css %}
    <link href="{% static 'authorProfile/css/authorProfile.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}			
    
{% block content %}

    <div id="left_column">
        <h1>Auteurs Réguliers de DGT</h1>
        {% for authorProfile in authorProfile_list %}

        <div id="author">
            <h2>{{ authorProfile.user.firstname }} {{ authorProfile.user.lastname }}</h2>

            <p>{{ authorProfile.description }}</p>
        </div>

        {% endfor %}
    </div>

{% endblock %}			

    
