.content .article_list ul {
    list-style: none;
}
.content .article_list {
    margin-top: 40px;
    font-size: 1.3em;
}
.content .article_list a {
    color: #aaaaaa;
    text-decoration: none;
}
.content .article_list a:hover {
    color: #1F8CE9;
    text-decoration: none;
}
