/*Navigation*/
#right_column {
  float: right;
  width: 30%;
}
#right_column h2 {
  font-family: 'Museo300', Verdana;
  color: purple;
}

/*Articles*/
.meta {
  font-family: 'Museo300', Verdana;
  font-size: .8em;
  margin: 12px;
  margin-left: 0px;
  line-height: 1.875em;
}
.previous_articles {
  float: left;
  margin-top: 48px;
  text-decoration: none;
}
.next_articles {
  float: left;
  margin-top: 48px;
  text-decoration: none;
  float: right;
  border-right: 0px;
  padding-right: 0px;
}
#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
  margin: 0px;
  margin-bottom: 24px;
}
#article h1 + .meta {
  margin-top: -12px;
}
#article_content h1 {
  line-height: 1.25em;
  border-bottom: 2px solid #cacaca;
}
#article_content h1 + p,
#article_content h2 + p,
#article_content h3 + p,
#article_content h4 + p,
#article_content h5 + p,
#article_content h6 + p {
  margin-top: -12px;
}
#article_comments {
  line-height: 0%;
}
#article_comments h1 {
  border: none;
}
