/* Common css for the whole site */

body {
    font-family      : Cambria, Georgia, "Times New Roman", Times, serif;
    line-height      : 150% ;
    background-image : url('../img/bg-crosshatch.png');
    background-repeat: repeat;
    color            : white;
    text-decoration  : none ;
}

/* navbar */
#navbar {
    width      : 60% ;
    margin-left: 25% ;
    font-size  : 120%;
}
.navbar, .dropdown-menu{
    background: rgba(100,100,100,0.90);
    border    : none;
}
.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
    border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    border-bottom: 3px solid transparent;
    background   : none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
    color: #fff;
}
.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
    border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
    border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
    border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
    border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
    border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
    border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
    border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
    border-bottom: #62C2E4 3px solid;
}
.navbar-toggle .icon-bar{
    color     : #fff;
    background: #fff;
}
.navbar-item .search-form .form-group {
    width     : 100%;
    height: 32px;
    background-color: #444;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 2px solid #111;
}
.navbar-item .search-form {
    width: 150px;
    height: 36px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    bottom: 5px;
    -webkit-transition:width 0.3s ease-in-out;
}

/* content */
.banner {
    height:  10%;
    width :  60%;
    margin: auto;
}
.content {
    background     : rgb(50,50,50);
    width          :  60%;
    height         : auto;
    overflow       : auto;
    margin         : auto;
    border         : 1px solid #ffffff;
    border-left    : 1px solid #cacaca;
    border-right   : 1px solid #cacaca;
    border-top-left-radius  : 6px;
    border-top-right-radius : 6px;
    box-shadow     : 0px 0px 5px #555555;
    text-align     : justify;
    text-decoration: none;
}
h1 {
    font-size  :   2em;
    line-height: .75em;
    font-weight:  bold;
}
h1 a {
    color          : purple;
    text-decoration:   none;
}
h2 {
    font-size  :  1.375em;
    line-height: 1.0909em;
}
a {
    border:    none;
    color : #cb25f4;
}
a:hover {
    color: #1F8CE9;
}
a img {
    border: none;
}

/* Article */
.article {
    padding        : 10%;
    padding-top    : 20px;
    padding-bottom : 0px;
    float        :        left;
    overflow     :      hidden;
    margin-bottom:       120px;
    width        : 100%;
    line-height  : 1.8em;
    font-size: 1.1em;
}
.article .center {
    margin-left :  -12px;
    margin-right:  -12px;
}
.article p {
    margin-top   : 24px;
    margin-bottom: 24px;
}
.article ul {
    list-style-type: circle;
}
.article h3 {
    border-bottom: 1px solid;
}

.author {
    margin-top: 50px;
    border-left: 1.5px solid;
    padding-left: 20px;
}

.contact-div input, .contact-div textarea {
    color: black;
    display: block;
}
.contact-div .messages {
    background-color: #55a532;
    border: 1px solid #5aadc0;
    border-radius: 5px;
}
.contact-div button {
    color: #ccc;
    background-color: #333;
    font-weight: 700;
    border: 0.5px solid #d5d5d5;
    border-radius: 5px;
}
.contact-div button:hover {
    background-color: #555;
    border-color: #ccc;
    cursor: pointer
}

/* back to top button */

#back-to-top-button a {
    background: black;
    border    :  none;
}

.back-to-top {
    cursor  : pointer;
    position:   fixed;
    bottom  :    20px;
    right   :    20px;
    display :    none;
}

/* search field */
#search-field {
    display   : none;
}
#search-field .search-form .form-group {
    position  : fixed;
    bottom    : 60px;
    right     : 20px;
    transition: all 0.35s;
    width     : 32px;
    max-width : 15%;
    height: 32px;
    background-color: #444;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 2px solid #111;
}
.search-form .form-group input.form-control {
    border    : 0 none;
    background: transparent;
    box-shadow: none;
    display   : block;
    color     : white;
    padding: 0 0;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
#search-field .search-form .form-group:hover,
#serach-field .search-form .form-group.hover {
    width: 100%;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -2px;
    right: -3px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}

/*Footer*/

.footer-bs {
    display                   : -webkit-flex;
    display                   : flex;
    -webkit-flex-direction    : row;
    flex-direction            : row;
    background-color          : #3c3d41;
    width                     : 60%;
    height: auto;
    margin                    : auto;
    padding                   : 50px 20px;
    color                     : rgb(255,255,255);
    margin-bottom             : 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius    : 0px;
    border-bottom-left-radius : 6px;
}
.footer-bs .footer-left { 
    width       : 70%;
    padding     : 10px 25px; 
    border-right: 1px solid;
}
.footer-bs .footer-left h2 { 
    margin: 0px 0px 10px; 
}
.footer-bs .footer-left p { 
    font-size: 15px; 
    color    : rgb(200,200,200); 
}
.footer-bs .footer-right { 
    padding    : 10px 25px; 
    color      : rgb(200,200,200); 
    font-weight: 800;
}
.footer-bs .footer-right ul.list { 
    list-style: none; 
    padding   : 0px ; 
}
.footer-bs .footer-right ul.list li { 
    padding: 5px 0px;
}
.footer-bs .footer-right ul.list a { 
    color: rgb(200,200,200); 
}
.footer-bs .footer-right ul.list a:hover { 
    text-decoration:    none; 
    color          : #1F8CE9;
}
.footer-bs .footer-logo {
    float: left;
    padding: 0px 10px;
}
@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {border-left: solid 1px rgba(255,255,255,0.10); }
}

/* preview card */

.preview_card {
    height     : 220px;
    width      : 100%;
    margin     : 0 0 1.625em;
    padding    : 0 0 1.625em;
    box-sizing : border-box;
    font-family: 'proxima-nova-soft', sans-serif;
    font-size  : 14px;
}
.preview_card .post-module {
    height                : 100%;
    width                 : 100%;
    display               : -webkit-flex;
    display               : flex;
    -webkit-flex-direction: row;
    flex-direction        : row;
    position              : relative;
    background            : #111111;
}
.preview_card .post-module:hover .thumbnail img,
.hover .thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform   : scale(1.1);
    transform        : scale(1.1);
    opacity          : 0.6;
}
.preview_card .post-module .thumbnail {
    width        : 30%;
    height       : 100%;
    background   : #000000;
    overflow     : hidden;
    padding      : 0;
    border-radius: 0px;
    border       : 0;
}
.preview_card .post-module .thumbnail .image {
    width : 100%;
    height: 100%;
}
.preview_card .post-module .thumbnail .date {
    position     : absolute;
    top          : 20px;
    right        : 20px;
    z-index      : 1;
    background   : rgba(100,100,100,0.6);
    width        : 55px;
    height       : 55px;
    padding      : 12px 0;
    border-radius: 100%;
    color        : #FFFFFF;
    font-weight  : 700;
    text-align   : center;
  }
.preview_card .post-module .thumbnail .date .day {
    font-size: 14px;
}
.preview_card .post-module .thumbnail .date .month {
    font-size     : 12px;
    text-transform: uppercase;
}
.preview_card .post-module .thumbnail img {
    display           : block;
    width             : 100%;
    height            : 100%;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition   : all 0.3s linear 0s;
    -ms-transition    : all 0.3s linear 0s;
    -o-transition     : all 0.3s linear 0s;
    transition        : all 0.3s linear 0s;
}
.preview_card .post-module .post-content {
    width      : 70%;
    height     : 100%;
    overflow   : hidden;
    line-height: 1em;
    background : rgb(10,10,10);
}
.preview_card .post-module .post-content .title {
    padding    : 0 10px 5px;
    color      : #333333;
    font-size  : 18px;
    font-weight: 700;
}
.preview_card .post-module .post-content .title a {
    text-decoration: none;
    color          : #aaaaaa;
}
.preview_card .post-module .post-content .title a:hover {
    text-decoration: none;
    color          : #1F8CE9;
}
.preview_card .post-module .post-content .sub_title {
    margin     : 0;
    padding    : 0 10px 0px;
    color      : #cb25f4;
    font-size  : 14px;
    font-weight: 400;
}
.preview_card .post-module .post-content .description {
    margin       : auto;
    padding-left : 10px;
    padding-right: 10px;
    color        : #FFFFFF;
    font-size    : 14px;
    line-height  : 1.2em;
} 
.preview_card .category {
    padding-left: 10px;
    background  : #5f5f5f;
    color       : #FFFFFF;
    font-size   : 14px;
    font-weight : 600;
}
.preview_card .read_more {
    width     : 30%;
    display   : none;
    z-index   : 1;
    position  : absolute;
    text-align: center;
    bottom    : 25px;
    left      : 0px;
    background: rgba(5,5,5,0.9);
    font-size : 14px;
} 
.preview_card:hover .read_more {
    display: block;
} 
