{% extends "base.html" %}
{% load static %}

{% block title %} DGT | contact{% endblock %}

{% block content %}

<div class="article">
    <h1>Nous envoyer un email</h1>

    <div class="contact-div">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>

    </div>
</div>

{% endblock %}
