{% extends "base.html" %}
{% load static %}
{% load extra_article %}

{% block title %} DGT | Game Design et Développement {% endblock %}

{% block css %}
    <link href="{% static 'dicegametech/css/index.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

    <div id="left_column">
        <div id="article_preview">

            {% for article in article_list %}

            <div class="preview_card">
                <div class="container">
                    <div class="column">
                        <div class="post-module">
                            <div class="thumbnail">
                                <div class="date">
                                    <div class="day">{{ article.pub_date.day }}</div>
                                    <div class="month">{{ article.pub_date.month }}</div>
                                </div>
                                <img src="{{ article.thumbnail.url }}" width=200 height=200 />
                            </div>
                            <div class="post-content">
                                <div class="category">Catégorie: {{ article.category.name }}</div>
                                <a href="{% url 'article:detail' category=article.category.name id=article.id slug=article.slug %}">
                                    <h1 class="title">{{ article.title }}</h1>
                                </a>
                                <h2 class="sub_title">{{ article.subtitle }}</h2>
                                <div class="description">
                                    <p class="description">{{ article.contents|markdownify|safe|truncatewords:100 }}</p>
                                </div>
                            </div>
                            <div class="read_more">
                                <span>
                                    Lire <a href="{% url 'article:detail' category=article.category.name id=article.id slug=article.slug %}">la suite</a>
                                </span>	
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
        
{% endblock %}

