{% extends "base.html" %}
{% load static %}
{% load extra_article %}

{% block title %} DGT | Game Design et Développement {% endblock %}

{% block css %}
    <link href="{% static 'dicegametech/css/index.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

    <div id="left_column">
        <div id="article_preview">

            {% for article in article_list %}
            <div id="preview">
                <a href="{% url 'article:gameDesignArticle' article.title %}"><h2>{{ article.title }}</h2></a></li>
            <div id ="content_beginning">
                {{ article.contents|markdownify|safe|truncatewords:100 }}
            </div>
            <span class="read_more">
                Lire <a href="{% url 'article:gameDesignArticle' article.title %}">la suite</a>
            </span>	
            </div>
            {% endfor %}

        </div>
    </div>

    <div id="right_column"> 
       
    </div>

{% endblock %}

